<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Major</key>
		<string>What are the mitigating factors that could influence my sanction if found responsible?</string>
	</dict>
	<dict>
		<key>Major</key>
		<string>Who can I talk to about acceptable citations before turning in an assignment?</string>
	</dict>
	<dict>
		<key>Major</key>
		<string>What violations are covered by the AHC?</string>
	</dict>
	<dict>
		<key>Major</key>
		<string>What happens when a complaint is filed against me?</string>
	</dict>
	<dict>
		<key>Major</key>
		<string>What recourse do I have to appeal a sanction?</string>
	</dict>
</array>
</plist>
